@import '../scss/abstracts/variables';

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1em;
}

app-contact-detail {
    padding: 1em;
    flex: auto;
    border: .25em solid $dark-brand-color;
}

app-contact-list {
    padding: 1em;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
    }

    a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        margin: .5em;
        padding: 1em;
        background-color: $light-brand-color;
        color: $dark-brand-color;

        &:hover {
            box-shadow: 0 0 0 .25em $dark-brand-color inset;
        }

        &.active {
            background-color: $dark-brand-color;
            color: $light-brand-color;
    
            &:hover {
                box-shadow: 0 0 0 .25em $light-brand-color inset;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .contact-container {
        display: flex;
        flex-direction: row;
    }

    app-contact-detail {
        order: 1;
    }


    nav {
        ul {
            display: flex;
            flex-direction: row;
        }
    }
}
