body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

a {
    cursor: pointer;
}

label {
    display: inline-block
}

input, textarea {
    &.ng-invalid.ng-touched {
        background-color: #FAA;
    }
}

label.required::after {
    content: "*";
    color: red;
}

.highlighted {
    border: 1px solid blue;
}